@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

//Colors
$grayishBlue: #6e728e;
$darkGrayishBlue: #4a4d60;
$lightGrayishBlue: #f7f7fe;
$white: #fff;

//Gradients
$blueGradient: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);

//Fonts
$mainFont: "Montserrat", sans-serif;
